{% extends 'appPokemon/base.html' %}

{% block content %}
  <h3>para encontrar um pokemon</h3>
  <form action="" method="POST">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Pesquisar</button>
  </form>
  {% if returnToHTML %}
  {% if returnToHTML.isdigit == True %} <p><i>Digite um nome de cidade válido</i></p> {% endif %}
    <p>Cidade: <strong>{{ returnToHTML.cidade }}</strong></p> 
    <p>Temperatura: <strong>{{ returnToHTML.temp }}°C</strong></p> 
    {% if returnToHTML.rain == True %} <p>Chuva: <strong>Sim</strong></p> {% endif %}
    {% if returnToHTML.rain == False %} <p>Chuva: <strong>Não</strong></p> {% endif %}
    <p>Pokemon: <strong>{{ returnToHTML.pokemon }}</strong></p>
  {% endif %}
{% endblock %}